@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.habilities {
    display: flex;
    width: 100%;
    padding: 0% 5% 0%;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    font-family: 'Secular One', sans-serif;
    color: white;
    text-shadow: 2px 2px black;
}

@media only screen and (max-width: 682px) {
  .habilities {
    flex-direction: column;
    font-size: 1.5em;
}
  .conteudo {
    padding: 10%;
  }
}

.box-habilities {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
}

.box-habilities img {
    width: 200px;
}

.mouse-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    cursor: pointer;
}

.box-habilities:hover > .mouse-icon:not(:hover) {
    filter: brightness(0.9) saturate(1) contrast(1.0) blur(3px);
}

.mouse-icon:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(0px 10px 5px rgba(0,0,0,.5));
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 30px;
}

.title {
    margin: 0 auto 10px auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Silkscreen', cursive;
    transform: translateY(-50%);
    text-shadow: 2px 2px black;
    color: white;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
}
  to {
    width: 6.7em;
}
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255,255,255,.75);}
  to {
    border-right-color: transparent;
 }
}

@media only screen and (max-width: 600px) {
  .projects-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 3rem;
  }
  .logos {
      flex-direction: column;
  }

  .habilities {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-direction: column !important;
      gap: 10px;
  }

  .mouse-icon img {
    width: 100%;
  }
  
  .box-habilities {
      width: 90%;
  }

  .conteudo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 1em;
  }
}