/* color: rgb(10, 4, 26); */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
    text-shadow: 1px 1px rgb(252, 248, 249);
}

.main-portfolio {
    background: rgb(9,8,52);
    background: linear-gradient(180deg, rgb(9,8,52), 100%, rgba(2,0,255,1) 100%);
    padding: 0% 0% 5% 0%;
}

.icon-name {
    font-weight: bold;
    color: #4040fb;
}

ul {
    margin: 0 auto;
    font-size: 20px;
    gap: 20px;
}

.nav-item a{
    transition: all 0.5s;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #4040fb;
    color:white;
    border-radius: 5px;
}

.principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    height: 80vh;
    color: white;
}

  .principal span {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 3px;
  }

  .principal h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  .principal .principal__input-cursor {
    width: 3px;
    height: 42px;
    background-color: white;
    display: inline-block;
    position: relative;
    top: 2px;
    animation: blink 0.6s infinite alternate;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }


  .stars{
	position: relative;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 50px 30px white,
    100px 80px white,
    80px 180px white,
    300px 80px white,
    250px 130px white,
    220px 50px white,
    270px 130px white,
    290px 50px white,
    300px 50px white,
    340px 80px white,
    370px 100px white,
    356px 130px white,
    390px 180px white,
    400px 50px white,
    430px 120px white,
    480px 30px white,
    450px 100px white,
    550px 80px white,
    610px 120px white,
    630px 30px white,
    650px 80px white,
    670px 50px white,
    700px 40px white,
    730px 50px white,
    770px 100px white,
    800px 30px white,
    840px 120px white,
    880px 50px white,
    1150px 520px white,
    1250px 200px white,
    
    100px 400px white,
    80px 500px white,
    250px 700px white,
    200px 500px white,
    230px 400px white,
    250px 460px white,
    270px 300px white,
    300px 600px white,
    340px 80px white,
    370px 100px white,
    356px 130px white,
    390px 180px white,
    450px 400px white,
    405px 300px white,
    420px 400px white,
    440px 250px white,
    465px 350px white,
    480px 550px white,
    550px 100px white,
    510px 250px white,
    540px 310px white,
    560px 240px white,
    550px 300px white,
    510px 450px white,
    540px 510px white,
    560px 340px white,
    650px 400px white,
    670px 430px white,
    680px 470px white,
    690px 330px white,
    630px 310px white,
    730px 350px white,
    700px 200px white,
    750px 200px white,
    770px 300px white,
    790px 250px white,
    800px 310px white,
    830px 350px white,
    860px 410px white,
    890px 450px white,
    900px 530px white,
    950px 500px white,
    320px 100px white,
    1050px 520px white,
    1110px 220px white,
    1140px 80px white,
    1170px 120px white,
    1200px 320px white,
    1220px 400px white,
    1250px 200px white,
    1350px 520px white,
    1310px 220px white,
    1340px 80px white,
    1370px 120px white,
    1300px 320px white,
    1320px 400px white,
    1350px 200px white,
    930px 530px white,
    960px 500px white;
    animation: anim-stars 10s linear infinite;
}

@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-600px);
    }
}

.stars::after{
    content: " ";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 50px 30px white,
    100px 80px white,
    80px 180px white,
    300px 80px white,
    250px 130px white,
    200px 50px white,
    340px 80px white,
    370px 100px white,
    356px 130px white,
    390px 180px white,
    400px 50px white,
    430px 120px white,
    480px 30px white,
    450px 100px white,
    550px 80px white,
    610px 120px white,
    630px 30px white,
    650px 80px white,
    670px 50px white,
    700px 40px white,
    730px 50px white,
    770px 100px white,
    800px 30px white,
    840px 120px white,
    880px 50px white,
    900px 130px white,
    950px 100px white,
    
    100px 400px white,
    80px 500px white,
    250px 700px white,
    200px 500px white,
    230px 400px white,
    250px 460px white,
    270px 300px white,
    300px 600px white,
    340px 80px white,
    370px 100px white,
    356px 130px white,
    390px 180px white,
    450px 400px white,
    405px 300px white,
    420px 400px white,
    440px 250px white,
    465px 350px white,
    480px 550px white,
    550px 100px white,
    510px 250px white,
    540px 310px white,
    560px 240px white,
    550px 300px white,
    510px 450px white,
    540px 510px white,
    560px 340px white,
    650px 400px white,
    670px 430px white,
    680px 470px white,
    690px 330px white,
    630px 310px white,
    730px 350px white,
    700px 200px white,
    750px 200px white,
    770px 300px white,
    790px 250px white,
    800px 310px white,
    830px 350px white,
    860px 410px white,
    890px 450px white,
    900px 530px white,
    950px 500px white,
    1050px 300px white,
    1150px 520px white,
    1250px 200px white,
    320px 100px white,
    1050px 520px white,
    1110px 220px white,
    1140px 80px white,
    1170px 120px white,
    1200px 320px white,
    1220px 400px white,
    1250px 200px white,
    1350px 520px white,
    1310px 220px white,
    1340px 80px white,
    1370px 120px white,
    1300px 320px white,
    1320px 400px white,
    1350px 200px white,
    930px 530px white,
    960px 500px white;
  }


.stars::after{
    content: " ";
    position: absolute;
    top: 600px;
    width: 3px;
  }

  .stars2{
    position: relative;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 15px 15px white,
    125px 35px white,
    50px 80px white,
    10px 120px white,
    275px 90px white,
    230px 10px white,
    120px 130px white,
    300px 130px white,
    420px 115px white,

    100px 400px white,
    80px 500px white,
    300px 600px white,
    210px 700px white,
    200px 500px white,
    200px 500px white,
    230px 400px white,
    250px 460px white,
    270px 300px white,
    340px 180px white,
    370px 200px white,
    356px 330px white,
    390px 440px white,
    410px 410px white,
    430px 430px white,
    450px 450px white,
    470px 410px white,
    490px 430px white,
    550px 350px white,
    510px 450px white,
    540px 510px white,
    560px 340px white,
    580px 400px white,
    690px 330px white,
    630px 310px white,
    730px 350px white,
    770px 300px white,
    800px 200px white,
    840px 120px white,
    880px 450px white,
    900px 530px white,
    950px 500px white,
    1050px 300px white,
    1150px 520px white,
    1050px 520px white,
    1110px 220px white,
    1140px 80px white,
    1170px 120px white,
    1200px 320px white,
    1220px 400px white,
    1250px 200px white,
    1350px 520px white,
    1310px 220px white,
    1340px 80px white,
    1370px 120px white,
    1300px 320px white,
    1320px 400px white,
    1350px 200px white,
    930px 530px white,
    960px 500px white;
    animation: anim-stars 30s linear infinite;
  }

.stars2::after{
    content: " ";
    position: absolute;
    top: 600px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 15px 15px white,
    125px 35px white,
    50px 80px white,
    10px 120px white,
    275px 90px white,
    230px 10px white,
    120px 130px white,
    300px 130px white,
    220px 115px white,

    100px 400px white,
    80px 500px white,
    300px 600px white,
    210px 700px white,
    200px 500px white,
    200px 500px white,
    230px 400px white,
    250px 460px white,
    270px 300px white,
    340px 180px white,
    370px 200px white,
    356px 330px white,
    390px 440px white,
    410px 410px white,
    500px 430px white,
    440px 450px white,
    480px 410px white,
    510px 430px white,
    550px 350px white,
    510px 450px white,
    540px 510px white,
    560px 340px white,
    580px 400px white,
    690px 370px white,
    630px 310px white,
    730px 350px white,
    770px 300px white,
    800px 200px white,
    840px 120px white,
    880px 450px white,
    900px 530px white,
    950px 500px white,
    1050px 300px white,
    1150px 520px white,
    1050px 520px white,
    1110px 220px white,
    1140px 80px white,
    1170px 120px white,
    1200px 320px white,
    1220px 400px white,
    1250px 200px white,
    1350px 520px white,
    1310px 220px white,
    1340px 80px white,
    1370px 120px white,
    1300px 320px white,
    1320px 400px white,
    1350px 200px white,
    930px 530px white,
    960px 500px white;
  }


.info-list {
    display: flex;
    font-size: 90%;
    background: linear-gradient(180deg, rgb(9,8,52) 0%, rgba(6,22,104,1) 10%, rgb(8, 232, 248) 70%, rgb(129 226 240));
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5%;
}

.apresentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.apresentation img {
    height: 200px;
    border-left: 10px solid white;
    border-radius: 10px;
}

.line-1 {
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%); */
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
}
  to {
    width: 6.7em;
}
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255,255,255,.75);}
  to {
    border-right-color: transparent;
 }
}

.contact {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 225, 255, 0.507);
    background: linear-gradient(0deg, rgb(0, 214, 252) 70%, rgb(8, 232, 248) 100%);
}

.contact h1 {
    letter-spacing: 4px;
}

.options {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    flex-direction: column;
    gap: 5%;
    font-size: 30px;
    color: white;
    background-color: black;
}

.logos {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    gap: 30px;
    width: 90%;
}

.logos a {
    display: flex;
    text-decoration: none;
    align-items: flex-end;
}

.logos img {
    width: 22px;
    height: 30px;
}

.linkedin {
    gap: 20px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    border: 3px solid rgb(0, 217, 255);
    border-radius: 5px;
}

.linkedin a {
    color: white;
    font-weight: bold;
}

.linkedin:hover {
    -webkit-filter: drop-shadow(15px 10px 5px  rgb(0, 217, 255));
    filter: drop-shadow(5px 5px 10px rgb(0, 217, 255));
    -webkit-transform: scale(1.5);
    transform: scale(1.3);

}

.github {
    width: 170px;
    display: flex;
    padding: 2%;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 2%;
    justify-content: space-around;
    border: 3px solid rgb(118, 0, 252);
    border-radius: 5px;
}

.github a {
    color: white;
    font-weight: bold;
}

.github:hover {
    -webkit-filter: drop-shadow(15px 10px 5px  rgb(195, 0, 255));
    filter: drop-shadow(0px 5px 15px rgb(202, 0, 252));
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
}


.projetos {
    display: flex;
    width: 100%;
    padding: 5% 5% 0%;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background: rgb(129 226 240);
}

.projetos img {
    width: 100%;
}

.projetos-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    margin-bottom: 5rem;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .projetos-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
    }
    .logos {
        flex-direction: column;
    }
  }

.projetos-wrapper img {
    height: 200px;
}

.avengers {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.adote-aqui {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.adote-aqui img {
    background-color: black;
}

.button {
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.3);
    filter: brightness(0.8);
}

.button a {
    text-decoration: none;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(140, 200, 207);
    background: linear-gradient(180deg, rgba(14,255,0,1) 10%, rgba(31,178,3,1) 15%, rgba(53,76,7,1) 21%, rgba(48,35,10,1) 24%);
}

