/* color: rgb(10, 4, 26); */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main-portfolio {
    background-color: rgb(10, 4, 26);
    height: 100vh;
}

.content {
    background-color: rgb(10, 4, 26);
    height: 100vh;
}

.options a, ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    gap: 5%;
    font-size: 30px;
    color: white;
}

.options ul {
    background-color: rgb(10, 4, 26);
}

.options a {
    transition: all 0.5s;
    cursor: pointer;
}

.options a:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    color: blue;
}

.apresentation {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.apresentation p {
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.content img {
    width: 30%;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0 0 4% 0;
    box-shadow: 1px 0px 30px rgba(255, 255, 255, 0.5);
}

.content h1 {
    letter-spacing: 10px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.content h1:hover {
    -webkit-filter: drop-shadow(15px 10px 5px  rgba(255, 255, 255, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(255, 255, 255, 0.5));
}

.content p {
    font-size: 30px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.content p:hover {
    -webkit-filter: drop-shadow(15px 10px 5px  rgba(255, 255, 255, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(255, 255, 255, 0.5));
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(10, 4, 26);
    border: 1px solid white;
}

